body{
    display: block;
    margin: 8px;

}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width:600px;
    justify-content: space-evenly;
    size: 30px;
}
#header{
    background-color:#FFE9AD ;
   
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content:  30px;
    font-size: 20px;
   
    
}
#part1{
   background-image: url(paddy.webp) ;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
#part2{
      background-image: url(bgimg2.jpeg);
    
    
      background-repeat: no-repeat;
      background-size: cover;

      justify-content: center;
      align-items: center;
      padding: 10px;
      row-gap: 10px;
      
}
#part2_1{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
      align-items: center;
      padding: 10px;
      
}
#part2_2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
      
}

#part21 ,#part22, #part23, #part24, #part25, #part26, #part27, #part28{
    border: 1px solid black;
    padding: 10px;
    height:360px;
    width:200px;
    box-shadow: 2px 2px green;
    border-radius: 5px;
}
#part3{
    background-color: darkgreen;
    display: flex;
    flex-wrap: wrap;
   
    padding: 15px;
}
#bgvideo{
    
    right: 0;
    bottom: 0;
    width: 500px;
    height: 800px;
    
}
#part4{
    background-image: url(bg4image.jpg);
   
     display: flex;
     flex-wrap: wrap;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: space-between;
     
}
#part4_1{
    padding: 50px;
}

#part4_2{
    padding: 50px;
}



